
/* background stuff */
body{
    background-color: rgb(83, 154, 236);
}
/* header color */
h1{
    color: rgb(34, 70, 168);
    font-family: 'Passion One', cursive;
    float: left;
    font-size: 70pt;
    position: absolute;
    padding: 10px;
    margin-top: -10px
}

a {
    color: red;
    font-size: 25pt;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: hotpink;
}


ul{
    float: right;
    width: auto;
    margin-top: 8px;
}

li {
    padding-right: 8%;
    padding: 15px 30px;
    display: inline-block;
}

header {
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100%;
    margin-top: 10px;
}

div.right {
    float: right;
    padding: 2.5%;
    margin: 0%;
    background-color: chocolate;
    width: 65%;
    height: 300px;
}


div.left {
    width: 25%;
    float: left;
    padding: 2.5%;
    background-color: brown;
    height: 300px;
}

div.footer {
    text-align: center;
    width:100%;
    background-color: darkblue;
    height: 400px;
    display: inline-block;
    text-align: center;
    
}

img {
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 60px;
    padding-bottom: 60px;
}

p {
    color: crimson;
    font-family: fantasy;
    font-size: 30pt;
}

p1 {
    color: darkorange;
    font-family: fantasy;
    font-size: 100pt;
}


